<div class="container" style="margin-top: -9em">
  <div
    class="row d-flex justify-content-center p-4 flex-column align-items-center"
  >
    <div
      class="col-10 p-4 mb-3 rounded"
      style="background: white; border: 1px solid rgb(238, 236, 236)"
    >
      <div class="m-4">
        <h2 class="h2 text-muted">More than 20 years of</h2>
        <h1 style="font-size: 32px; margin-top: -12px">
          Bringing People Together
        </h1>
      </div>
      <!--  -->
      <div class="row d-flex justify-content-center m-4">
        <div class="col-md-4 col-sm-12">
          <i class="bi bi-pentagon-half" style="font-size: 42px"></i>
          <h3 style="font-weight: bold" class="mt-2">
            100% Manually Screened Profiles
          </h3>
          <p>
            Search by location, community, profession & more from lakhs of
            active profiles
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <i class="bi bi-people-fill" style="font-size: 42px"></i>
          <h3 style="font-weight: bold" class="mt-2">
            Verification by Personal Visit
          </h3>
          <p>
            Search by location, community, profession & more from lakhs of
            active profiles
          </p>
        </div>
        <div class="col-md-4 col-sm-12">
          <i class="bi bi-fingerprint" style="font-size: 42px"></i>
          <h3 style="font-weight: bold" class="mt-2">Control over Privacy</h3>
          <p>
            Search by location, community, profession & more from lakhs of
            active profiles
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
</div>

<!-- -->
<!--  -->
<div class="container" style="margin-top: -4.7em">
  <div class="row d-flex justify-content-center p-4">
    <div
      class="staticBox col-10 p-4 mb-3 mt-4 rounded"
      style="background: white"
    >
      <br />
      <div class="m-4">
        <h2 class="h2 mt-4 text-muted">More from home</h2>
        <h1 style="font-size: 28px; margin-top: -12px; font-weight: 500">
          Impress them Over the Distance
        </h1>
      </div>
      <!--  -->
      <div class="row d-flex justify-content-start m-3">
        <div class="col-md-4 col-sm-12">
          <div class="row d-flex flex-column justify-content-around">
            <div class="col-md col-sm-12 my-4">
              <h2 style="font-weight: bold" class="mt-2">
                <a href="#jsm" class="jsm one nav-link"
                  >Jeevansathi Match Color</a
                >
              </h2>
              <p>
                Search by location, community, profession & more from lakhs of
                active profiles
              </p>
            </div>
            <div class="col-md col-sm-12 my-4">
              <h2 style="font-weight: bold" class="mt-2">
                <a href="#vvc" class="vvc one nav-link"
                  >Voice and video calling</a
                >
              </h2>
              <p>
                Search by location, community, profession & more from lakhs of
                active profiles
              </p>
            </div>
            <div class="col-md col-sm-12 my-4">
              <h2 style="font-weight: bold" class="mt-2">
                <a href="#ivp" class="ivp one nav-link">
                  Introducing Video Profile</a
                >
              </h2>
              <p>
                Search by location, community, profession & more from lakhs of
                active profiles
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fakeScroll" class="row d-flex justify-content-end">
      <div class="col-8">
        <div class="row d-flex justify-content-end" id="imgList">
          <div class="col-9" id="jsm">
            <img
              src="https://www.jeevansathi.com/images/jspc/featuresPromotion/match-hour.svg"
              alt=""
              height="500"
            />
          </div>
          <div class="col-9" id="vvc">
            <img
              src="https://www.jeevansathi.com/images/jspc/featuresPromotion/voice-call.svg"
              alt=""
              height="500"
            />
          </div>
          <div class="col-9" id="ivp">
            <img
              src="https://www.jeevansathi.com/images/jspc/featuresPromotion/video-profile.svg"
              alt=""
              height="500"
            />
          </div>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
  <!--  -->
</div>

<!--another  -->
<br /><br />
<h1 class="text-center" style="font-weight: 450; font-size: xx-large">
  Search Matchmaking Profiles
</h1>
<br />
<div class="container d-flex justify-content-center">
  <mat-tab-group>
    <mat-tab
      label="By Community"
      class="text-center row d-flex justify-content-around"
    >
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
    </mat-tab>
    <mat-tab label="By Religion">
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
    </mat-tab>
    <mat-tab label="By Caste">
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
    </mat-tab>
    <mat-tab label="By Profession">
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
      <div class="chip my-4 mx-2">Some</div>
    </mat-tab>
  </mat-tab-group>
</div>

<br /><br />

<div class="container d-flex my-4">
  <swiper
    [slidesPerView]="3"
    [spaceBetween]="50"
    (swiper)="onSwiper($event)"
    (slideChange)="onSlideChange()"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [scrollbar]="{ draggable: true }"
    [loop]="true"
  >
    <ng-template swiperSlide>
      <img
        width="400"
        height="300"
        src="https://www.image.truelymarry.com/SuccessStory/ashi-kunal_ShortImage_181221073158.jpg"
        alt=""
      />
    </ng-template>
    <ng-template swiperSlide>
      <img
        width="400"
        height="300"
        src="https://www.image.truelymarry.com/SuccessStory/prashant-harpreet_ShortImage_181221073342.jpg"
        alt=""
      />
    </ng-template>
    <ng-template swiperSlide>
      <img
        width="400"
        height="300"
        src="https://www.image.truelymarry.com/SuccessStory/ashish-shivangi_ShortImage_181221073541.jpg"
        alt=""
      />
    </ng-template>
    <ng-template swiperSlide>
      <img
        width="400"
        height="300"
        src="https://www.image.truelymarry.com/SuccessStory/aditi-and-samar_ShortImage_290422025215.jpg"
        alt=""
      />
    </ng-template>
    <ng-template swiperSlide>
      <img
        width="400"
        height="300"
        src="https://www.truelymarry.com/assets/images/site/couple_bg.jpg"
        alt=""
      />
    </ng-template>
  </swiper>
</div>

<br /><br />

<div class="container-fluid">
  <app-footer></app-footer>
</div>
