<div
  class="row d-flex justify-content-center bg-dark text-light pt-4 pb-4 mt-4 mb-3"
>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center mt-4">
    <p class="h5">
      <img
        src="https://www.truelymarry.com/assets/images/logo.png"
        height="100"
        width="300"
        alt=""
      />
    </p>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center mt-4">
    <p class="h6"><i class="bi bi-display"></i>&nbsp;&nbsp;Web App</p>
    <p class="h7">Some</p>
    <p>
      <i class="bi bi-person mx-2"></i>
      <i class="bi bi-lock mx-2"></i>
      <i class="bi bi-laptop mx-2"></i>
    </p>
  </div>
  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 text-center mt-4">
    <p>
      <a href="" class="nav-link text-white"
        >HTML&nbsp;&nbsp; |&nbsp;&nbsp; CSS &nbsp;&nbsp; |&nbsp;&nbsp;
        Javascript</a
      >
      <br />
      <a href="" class="nav-link text-white">
        <i class="bi bi-gear"></i>&nbsp;&nbsp;Angular
      </a>
    </p>
  </div>
</div>
