<div
  class="container-fluid carousel1 d-flex flex-column justify-content-end align-items-center"
>
  <h1 style="font-size: 39px; font-weight: bold" class="text-white">
    Join us today & start your incrediable journey ...
  </h1>
  <div class="container row-content d-flex bg-light p-4 rounded">
    <div class="col">
      <label class="b1 h6" for="select1">Looking For</label>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Select" name="select1">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col d-flex">
      <div>
        <label class="b1 h6" for="select1">Age From</label>
        <mat-form-field appearance="outline" style="width: 90px">
          <mat-select placeholder="22">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <label class="b1 h6" for="select1">Age To</label>
        <mat-form-field appearance="outline" style="width: 90px">
          <mat-select placeholder="45">
            <mat-option value="Male">18</mat-option>
            <mat-option value="Female">100</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <label class="b1 h6" for="select1">Religion</label>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Select">
          <mat-option value="Male">18</mat-option>
          <mat-option value="Female">100</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <label class="b1 h6" for="select1">Mother Tounge</label>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Select" formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!--  -->
    <div class="col">
      <button mat-raised-button color="warn" class="sb h6 mt-4">
        Search Now
      </button>
    </div>
  </div>
</div>
